name: Wiki Docs Sync

on:
  push:
    branches: 
      - main
    paths:
      - "docs/**"
  repository_dispatch:
    types: [docs]
  gollum:
  
permissions:
  contents: write

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  GIT_AUTHOR_NAME: "Russell Yazbeck"
  GIT_AUTHOR_EMAIL: "russellyazbeck@gmail.com"

jobs:
  job-sync-docs-to-wiki:
    name: Sync Docs changes to Wiki
    if: github.event_name != 'gollum'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout base code
        uses: actions/checkout@v3
        with:
          path: base-code
      - name: Checkout wiki code
        uses: actions/checkout@v3
        with:
          repository: ${{github.repository}}.wiki
          path: markdown
      - name: Push to wiki
        run: |
          cd markdown
          git config --local user.email "${{ env.GIT_AUTHOR_NAME }}"
          git config --local user.name "${{ env.GIT_AUTHOR_EMAIL }}"
          git add .
          git diff-index --quiet HEAD || git commit -m "Sync Docs changes to Wiki" && git push
      - name: Actions Wiki
        uses: spenserblack/actions-wiki@v0.1.1
        with:
          path: docs
          token: ${{ env.GIT_AUTHOR_EMAIL }}:${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
      - name: Sync Docs changes to Wiki
        uses: newrelic/wiki-sync-action@main
        with:
          source: docs
          destination: wiki
          token: ${{ secrets.WIKI_KEY }}
          gitAuthorName: ${{ env.GIT_AUTHOR_NAME }}
          gitAuthorEmail: ${{ env.GIT_AUTHOR_EMAIL }}
          
  job-sync-wiki-to-docs:
    name: Sync Wiki changes to Docs
    if: github.event_name == 'gollum'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          token: ${{ env.GITHUB_TOKEN }} # allows us to push back to repo
      - name: Sync Wiki to Docs
        uses: newrelic/wiki-sync-action@main
        with:
          source: wiki
          destination: docs
          token: ${{ env.GITHUB_TOKEN }}
          gitAuthorName: ${{ env.GIT_AUTHOR_NAME }}
          gitAuthorEmail: ${{ env.GIT_AUTHOR_EMAIL }}
          branch: main
