on:
  push:
    branches:
      - main
    paths:
      - 'wiki/**'

jobs:
  automerge:
    runs_on: ubuntu-latest
    steps:
      - name: Auto-Merge Pull Request
        uses: reitermarkus/automerge@v2.6.0
