name: Sync docs to wiki

on:
  push:
    branches: 
      - "wiki"
    paths:
      - "docs/**"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  GIT_AUTHOR_NAME: "Russell Yazbeck"
  GIT_AUTHOR_EMAIL: "russellyazbeck@gmail.com"

jobs:
  job-sync-docs-to-wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          token: ${{ env.GITHUB_TOKEN }} # allows us to push back to repo
      - name: Sync docs to wiki
        uses: newrelic/wiki-sync-action@main
        with:
          source: docs
          destination: wiki
          token: ${{ env.GITHUB_TOKEN }}
          gitAuthorName: ${{ env.GIT_AUTHOR_NAME }}
          gitAuthorEmail: ${{ env.GIT_AUTHOR_EMAIL }}
          branch: wiki
