on:
  push:
    branches: 
      - main
    paths:
      - "docs/**"
  repository_dispatch:
    types: [docs]
  gollum:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
  GIT_AUTHOR_NAME: "Russell Yazbeck"
  GIT_AUTHOR_EMAIL: "russellyazbeck@gmail.com"

jobs:
  job-sync-docs-to-wiki:
    name: Sync Docs changes to Wiki
    if: github.event_name != 'gollum'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Sync docs to wiki
        uses: newrelic/wiki-sync-action@main
        with:
          source: docs
          destination: wiki
          token: ${{ secrets.WIKI_KEY }}
          gitAuthorName: ${{ env.GIT_AUTHOR_NAME }}
          gitAuthorEmail: ${{ env.GIT_AUTHOR_EMAIL }}
          
  job-sync-wiki-to-docs:
    name: Sync Wiki changes to Docs
    if: github.event_name == 'gollum'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          token: ${{ env.GITHUB_TOKEN }} # allows us to push back to repo
      - name: Sync Wiki to Docs
        uses: newrelic/wiki-sync-action@main
        with:
          source: wiki
          destination: docs
          token: ${{ env.GITHUB_TOKEN }}
          gitAuthorName: ${{ env.GIT_AUTHOR_NAME }}
          gitAuthorEmail: ${{ env.GIT_AUTHOR_EMAIL }}
          branch: main
